html,
body {
    height: 100%;
    font-family: 'Microsoft YaHei', "Helvetica Neue", 'Helvetica', 'Arial', 'sans-serif';
}

.page-wrapper {
    min-height: 100%;
    position: relative;
}

.page-wrapper>.body {
    padding-bottom: 100px;
}

.page-wrapper>.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #eee;
    padding: 5px;
}

.page-wrapper>.footer>table {
    margin: 0 auto;
}

.page-wrapper>.footer>table img.logo {
    max-height: 45px;
    max-width: 45px;
}

.page-wrapper>.footer>table td {
    text-align: left;
    padding: 0 5px;
}

nav.navbar {
    background-color: #005d6c;
    border: none;
}

nav.navbar .nav>li {
    position: relative
}

nav.navbar .nav>li>a {
    color: rgba(255, 255, 255, 0.8);
}

nav.navbar .nav>li>a:hover,
nav.navbar .nav>li>a:focus,
nav.navbar .nav>li.active>a {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav.navbar .nav>li.active>a:after {
    content: '';
    height: 0;
    width: 0;
    left: 38%;
    bottom: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
}

nav.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

nav.navbar .navbar-brand:hover,
nav.navbar .navbar-brand:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav.navbar i.fa {
    width: 20px;
}

.nav-toolbar {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.nav-toolbar img.nav-logo {
    height: 70px;
    width: 70px;
    border: none;
    position: absolute;
    top: -10px;
}

.nav-toolbar .user-info {
    height: 45px;
    text-align: right;
}

.nav-toolbar .user-info>.anonymous {
    line-height: 45px;
}

.nav-toolbar .user-info>.signed {
    position: absolute;
    right: 15px;
}

.nav-toolbar .user-info>.signed img.head {
    height: 45px;
    width: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
    color: #999;
}

.form-horizontal .control-label {
    text-align: left;
}

.aside {
    margin: 0 auto;
    overflow: hidden;
}

.aside ul>li {
    margin-top: 10px;
}

.aside.aside-left {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.aside.aside-right {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
}

fieldset>legend {
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
}

fieldset>legend>small {
    font-weight: normal;
}

a.text-muted:hover,
a.text-muted:focus {
    color: #777;
}

.text-theme {
    color: #005d6c;
}

table.table-none-bordered,
table.table-none-bordered tr,
table.table-none-bordered td {
    border: 0 !important;
}

table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
    margin: 0;
}

.wysiwyg-textarea {
    overflow: auto;
    height: 250px;
}

.wysiwyg-textarea.wysiwyg-textarea-sm {
    height: 150px;
}

.btn-toolbar[data-role=editor-toolbar] {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-toolbar .btn {
    margin-top: 5px;
}

img.head {
    border: 0
}

img.head.head-lg {
    width: 100%;
}

img.head.head-sm {
    width: 50px;
    height: 50px;
}

.custom-share {
    line-height: 30px;
    height: 30px;
}

.custom-share>.share-text {
    line-height: 30px;
    float: left;
}

.btn-toolbar a {
    cursor: pointer;
}

.back-to-top {
    font-size: x-large;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

@media all and (max-width: 767px) {
    .aside.aside-left,
    .aside.aside-right {
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
    }
    .back-to-top {
        display: none !important
    }
    #nav-search {
        margin-top: 40px;
    }
    nav.navbar .nav>li.active>a:after {
        display: none;
    }
}