html,
body {
    height: 100%;
    font-family: 'Microsoft YaHei', "Helvetica Neue", 'Helvetica', 'Arial', 'sans-serif';
}

nav.navbar i.fa {
    width: 25px;
}

nav.navbar a.navbar-brand {
    color: #fff;
}