<div class="footer text-center">
    <table>
        <tr>
            <td rowspan="2"><img class="logo" src="/img/jnu-logo-sm.jpg" />
            </td>
            <td>Copyright&nbsp;<i class="fa fa-copyright"></i>&nbsp;<span id="copyright-year"></span>&nbsp;暨南大学电气信息学院</td>
        </tr>
        <tr>
            <td>设计&nbsp;制作&nbsp;维护&nbsp;<a href="mailto:edisond@qq.com"><i class="fa fa-paper-plane"></i>&nbsp;edisond@qq.com</a>
            </td>
        </tr>
    </table>
</div>