<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]> 
	<script type="text/javascript" src="/js/lib/html5shiv.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/bootstrap.datetimepicker.css">
<!--[if lt IE 9]> 
	<script type="text/javascript" src="/js/lib/Respond.js"></script>
<![endif]-->