<script type="text/javascript" src="/js/lib/jquery.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/moment.js"></script>
<script type="text/javascript" src="/js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.wysiwyg.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.datetimepicker.js"></script>
<script type="text/javascript" src="/js/lib/md5.js"></script>
<script type="text/javascript" src="/js/lib/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery-html5Validate-min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>