<!DOCTYPE html>
<html>

<head>
    <title>个人中心 - 师生科研互动平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%include ../parts/include.css.html%>
</head>

<body>
    <% include ../parts/nav.ejs %>
        <div class="container mt20">
        </div>
        <% include ../parts/include.js.html %>
</body>

</html>