<!DOCTYPE html>
<html>

<head>
    <title>管理员 - 暨南大学师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <div class="page-wrapper">
        <div class="body">
            <% include parts/nav.ejs %>
                <div class="container mt20">
                    <div class="row">
                        <div class="col-sm-9 col-xs-12 pull-right">
                            <div role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab-teacher" aria-controls="tab-teacher" role="tab" data-toggle="tab">教师管理</a>
                                    </li>
                                    <li role="presentation"><a href="#tab-student" aria-controls="tab-student" role="tab" data-toggle="tab">学生管理</a>
                                    </li>
                                    <li role="presentation"><a href="#tab-settings" aria-controls="tab-settings" role="tab" data-toggle="tab">设置</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab-teacher">
                                        <br/>
                                        <button type="button" class="btn btn-default" id="select-all-teacher">全部选择</button>
                                        <button type="button" class="btn btn-default ml10" id="deselect-all-teacher">取消全选</button>
                                        <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-teacher"><i class="fa fa-times"></i>&nbsp;失效选中记录</button>
                                        <button type="button" class="btn btn-success pull-right mr10" id="active-select-teacher"><i class="fa fa-check"></i>&nbsp;激活选中记录</button>
                                        <button type="button" class="btn btn-success pull-right mr10" data-toggle="modal" data-target="#new-teacher"><i class="fa fa-plus"></i>&nbsp;添加教师</button>
                                        <br/>
                                        <br/>
                                        <table class="table table-bordered table-hover" id="table-teacher" width="100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>工号</th>
                                                    <th>姓名</th>
                                                    <th>性别</th>
                                                    <th>部门</th>
                                                    <th>职称</th>
                                                    <th>激活</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-student">
                                        <br/>
                                        <button type="button" class="btn btn-default" id="select-all-student">全部选择</button>
                                        <button type="button" class="btn btn-default ml10" id="deselect-all-student">取消全选</button>
                                        <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-student"><i class="fa fa-trash-o"></i>&nbsp;失效选中记录</button>
                                        <button type="button" class="btn btn-success pull-right mr10" id="active-select-student"><i class="fa fa-check"></i>&nbsp;激活选中记录</button>
                                        <button type="button" class="btn btn-success pull-right mr10" data-toggle="modal" data-target="#new-student"><i class="fa fa-plus"></i>&nbsp;添加学生</button>
                                        <br/>
                                        <br/>
                                        <table class="table table-bordered table-hover" id="table-student" width="100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>学号</th>
                                                    <th>姓名</th>
                                                    <th>性别</th>
                                                    <th>学院</th>
                                                    <th>专业</th>
                                                    <th>年级</th>
                                                    <th>类型</th>
                                                    <th>激活</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-settings">
                                        <br/>
                                        <fieldset>
                                            <legend class="fontsizeM">
                                                <span data-toggle="tooltip" title="点击以展开/收回">
                                        <a data-toggle="collapse" href="#account-setting" aria-expanded="false" aria-controls="password-setting">详细信息</a>
                                    </span>
                                            </legend>
                                            <div id="account-setting" class="collapse">
                                                <div class="row">
                                                    <form class="col-xs-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-email">邮箱</label>
                                                            <input type="email" class="form-control" id="input-email" required value="<%=user.email%>">
                                                        </div>
                                                        <button type="submit" class="col-xs-12 btn btn-primary">保存</button>
                                                    </form>
                                                </div>
                                                <br/>
                                            </div>
                                            <legend class="fontsizeM">
                                                <span data-toggle="tooltip" title="点击以展开/收回">
                                        <a data-toggle="collapse" href="#password-setting" aria-expanded="false" aria-controls="password-setting">更改密码</a>
                                    </span>
                                            </legend>
                                            <div id="password-setting" class="collapse">
                                                <div class="row">
                                                    <form class="col-xs-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-orign-password">原密码</label>
                                                            <input type="password" class="form-control" id="input-orign-password" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-new-password">新密码</label>
                                                            <input type="password" class="form-control" id="input-new-password" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-confirm-password">确认</label>
                                                            <input type="password" class="form-control" id="input-confirm-password" required>
                                                        </div>
                                                        <button type="submit" class="col-xs-12 btn btn-primary">保存</button>
                                                    </form>
                                                </div>
                                                <br/>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="aside aside-left text-right">
                                <h6>用户统计</h6>
                                <table class="table table-condensed table-none-bordered">
                                    <tbody>
                                        <tr>
                                            <td>教师注册</td>
                                            <td id="teacher-reg">-</td>
                                        </tr>
                                        <tr>
                                            <td>学生注册</td>
                                            <td id="student-reg">-</td>
                                        </tr>
                                        <tr>
                                            <td>学生激活</td>
                                            <td id="student-active">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <h6>访问统计</h6>
                                <table class="table table-condensed table-none-bordered">
                                    <tbody>
                                        <tr>
                                            <td>目前在线</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>今日浏览</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>统计浏览</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="new-teacher" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">添加教师</h4>
                            </div>
                            <form class="form-horizontal">
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-id">工号</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-id" maxlength="10" required pattern="^[0-9]*$" placeholder="请填写十位以下数字">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-password">初始密码</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="password" id="input-password" maxlength="20" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label control-label" for="input-name">姓名</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control form-control" type="text" id="input-name" maxlength="10" required>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-sex">性别</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-sex" required>
                                                <option>男</option>
                                                <option>女</option>
                                                <option>其它</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-department">部门</label>
                                        <div class="col-xs-12 col-sm-4" data-role="selector">
                                            <select class="form-control" type="text" id="input-department" data-bind="college" required></select>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-title">职称</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-title" maxlength="10" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-email">邮箱</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="email" id="input-email" maxlength="50">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-phone">电话</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="tel" id="input-phone" maxlength="20">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input checked type="checkbox" id="input-active">创建并激活
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-teacher" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">编辑教师</h4>
                            </div>
                            <form class="form-horizontal">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" id="input-_id">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-id">工号</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-id" maxlength="10" required pattern="^[0-9]*$" placeholder="请填写十位以下数字">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-password">密码</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="password" id="input-password" maxlength="20" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label control-label" for="input-name">姓名</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control form-control" type="text" id="input-name" maxlength="10" required>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-sex">性别</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-sex" required>
                                                <option>男</option>
                                                <option>女</option>
                                                <option>其它</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-department">部门</label>
                                        <div class="col-xs-12 col-sm-4" data-role="selector">
                                            <select class="form-control" type="text" id="input-department" data-bind="college" required></select>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-title">职称</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-title" maxlength="10" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-email">邮箱</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="email" id="input-email" maxlength="50">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-phone">电话</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="tel" id="input-phone" maxlength="20">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-6">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="input-active">激活
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="input-reset-password">重设密码
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete-teacher" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">失效记录</h4>
                            </div>
                            <div class="modal-body">
                                <span id="delete-teacher-info"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" id="submit">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="new-student" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">添加学生</h4>
                            </div>
                            <form class="form-horizontal">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-id">学号</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-id" maxlength="10" required pattern="^[0-9]*$" placeholder="请填写十位以下数字">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-password">初始密码</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="password" id="input-password" maxlength="20" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label control-label" for="input-name">姓名</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control form-control" type="text" id="input-name" maxlength="10" required>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-sex">性别</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-sex" required>
                                                <option>男</option>
                                                <option>女</option>
                                                <option>其它</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" data-role="selector">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-college">学院</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-college" data-bind="college" required></select>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-major">专业</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-major" data-bind="major" required></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-grade">年级</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="number" id="input-grade" min="1" max="9999">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-type">类型</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-type">
                                                <option>本科生</option>
                                                <option>硕士研究生</option>
                                                <option>博士研究生</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-email">邮箱</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="email" id="input-email" maxlength="50">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-phone">电话</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="tel" id="input-phone" maxlength="20">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-address">地址</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-address" maxlength="20">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input checked type="checkbox" id="input-active">创建并激活
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-student" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">编辑学生</h4>
                            </div>
                            <form class="form-horizontal">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" id="input-_id">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-id">学号</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-id" maxlength="10" required pattern="^[0-9]*$" placeholder="请填写十位以下数字">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-password">密码</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="password" id="input-password" maxlength="20" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label control-label" for="input-name">姓名</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control form-control" type="text" id="input-name" maxlength="10">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-sex">性别</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-sex" required>
                                                <option>男</option>
                                                <option>女</option>
                                                <option>其它</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" data-role="selector">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-college">学院</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-college" data-bind="college" required></select>
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-major">专业</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-major" data-bind="major" required></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-grade">年级</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="number" id="input-grade" min="1" max="9999">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-type">类型</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <select class="form-control" type="text" id="input-type">
                                                <option>本科生</option>
                                                <option>硕士研究生</option>
                                                <option>博士研究生</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-email">邮箱</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="email" id="input-email" maxlength="50">
                                        </div>
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-phone">电话</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="tel" id="input-phone" maxlength="20">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label" for="input-address">地址</label>
                                        <div class="col-xs-12 col-sm-4">
                                            <input class="form-control" type="text" id="input-address" maxlength="20">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="input-active">激活
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="input-reset-password">重设密码
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete-student" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">失效记录</h4>
                            </div>
                            <div class="modal-body">
                                使选中的学生记录失效？（共&nbsp;<span id="delete-student-count">0</span>&nbsp;条）
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" id="submit">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <% include parts/footer.ejs %>
    </div>
    <% include parts/include.js.html %>
        <script type="text/javascript" src="/js/admin.js"></script>
</body>

</html>