<!DOCTYPE html>
<html>

<head>
    <title>首页 - 暨南大学师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <div class="page-wrapper">
        <div class="body">
            <% include parts/nav.ejs %>
                <div class="container text-center">
                    <div class="row mt20 mb50">
                        <div class="col-xs-12 mb20">
                            <h1>暨南大学<span class="text-theme">科研项目</span>发布与交流平台</h1>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <table class="count-table">
                                <tr>
                                    <td rowspan="2">
                                        <h1><i class="fa fa-book text-theme"></i></h1>
                                    </td>
                                    <td>
                                        <h3 class="text-theme"><%=pcount%></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="text-muted">个项目</h6>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <table class="count-table">
                                <tr>
                                    <td rowspan="2">
                                        <h1><i class="fa fa-street-view text-theme"></i></h1>
                                    </td>
                                    <td>
                                        <h3 class="text-theme"><%=utcount%></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="text-muted">位教师</h6>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <table class="count-table">
                                <tr>
                                    <td rowspan="2">
                                        <h1><i class="fa fa-user text-theme"></i></h1>
                                    </td>
                                    <td>
                                        <h3 class="text-theme"><%=uscount%></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="text-muted">位同学</h6>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <table class="count-table">
                                <tr>
                                    <td rowspan="2">
                                        <h1><i class="fa fa-users text-theme"></i></h1>
                                    </td>
                                    <td>
                                        <h3 class="text-theme"><%=tcount%></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="text-muted">个团队</h6>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4 mt50 mb50">
                            <a href="/open-experiment" class="thumbnail dinlineblock">
                                <i class="fa fa-flask text-theme SLIcon"></i>
                            </a>
                            <h2>开放实验</h2>
                            <p class="text-muted">开放实验项目是指实验室根据自身条件，设计一定数量的命题实验，经学校审批通过的项目。</p>
                            <p><a class="btn btn-default" href="/open-experiment" role="button">查看&nbsp;<i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                        <div class="col-md-4 mt50 mb50">
                            <a href="/challenge-cup" class="thumbnail dinlineblock">
                                <i class="fa fa-trophy text-theme SLIcon"></i>
                            </a>
                            <h2>挑战杯</h2>
                            <p class="text-muted">挑战杯是“挑战杯”全国大学生系列科技学术竞赛的简称，是全国性的大学生课外学术实践竞赛。</p>
                            <p><a class="btn btn-default" href="/challenge-cup" role="button">查看&nbsp;<i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                        <div class="col-md-4 mt50 mb50">
                            <a href="/innovation-project" class="thumbnail dinlineblock">
                                <i class="fa fa-lightbulb-o text-theme SLIcon"></i>
                            </a>
                            <h2>创新项目</h2>
                            <p class="text-muted">本科生科技创新工程旨在培养本科生的创新意识、创新思维和创新能力，增强师生间的交流。</p>
                            <p><a class="btn btn-default" href="/innovation-project" role="button">查看&nbsp;<i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <% include parts/footer.html %>
    </div>
    <% include parts/include.js.html %>
</body>

</html>