<!DOCTYPE html>
<html>

<head>
    <title>创新项目 - 师生科研互动平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <div class="header header-ip">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="m0">创新项目</h1>
                        <h5 class="mt20"><i class="fa fa-lightbulb-o"></i>&nbsp;10个创新项目<i class="fa fa-street-view ml20"></i>&nbsp;2位指导教师<i class="fa fa-clock-o ml20"></i>&nbsp;最后更新于2014年1月10日</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt20">
            <div class="row">
                <div class="col-sm-9 col-xs-12 pull-right">
                    Main
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="aside">
                        Aside
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        </div>
        <% include parts/include.js.html %>
</body>

</html>