<!DOCTYPE html>
<html>

<head>
    <title>开放实验 - 师生科研互动平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <div class="header header-oe">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="m0">新建开放实验项目</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt20">
            <div class="row">

                <div class="col-xs-12 col-sm-9 pull-right">
                    <form class="form-horizontal form-horizontal-label-left" id="new-oe">

                        <div class="form-group">
                            <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="input-college">
                            </div>
                            <label for="input-lab" class="col-sm-2 control-label">所在实验室
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="input-lab">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="input-name">
                            </div>
                            <label for="input-object" class="col-sm-2 control-label">面向对象&nbsp;<a href="#" tabindex="-1"><i class="fa fa-question-circle" data-toggle="tooltip" title="学生专业"></i></a>
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="input-object">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-capacity" class="col-sm-2 control-label">拟定参与学生数</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-capacity">
                            </div>
                            <label for="input-effort" class="col-sm-2 control-label">预期总学时数
                            </label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-effort">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-datestart" class="col-sm-2 control-label">开始时间</label>
                            <div class="col-sm-4">
                                <div class="input-group input-append date">
                                    <input type="text" class="form-control" id="input-dateStart">
                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                    </div>
                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label for="input-dateend" class="col-sm-2 control-label">结束时间
                            </label>
                            <div class="col-sm-4">
                                <div class="input-group input-append date">
                                    <input type="text" class="form-control" id="input-dateEnd">
                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                    </div>
                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目来源</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" name="input-source" id="input-source-1" checked value="教师科研课题">&nbsp;教师科研课题
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-source" id="input-source-2" value="实验室自拟">&nbsp;实验室自拟
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-source" id="input-source-3" value="综合素质提高型">&nbsp;综合素质提高型
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-source" id="input-source-4" value="其它">&nbsp;其它
                                </label>

                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="input-source" placeholder="其它来源" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">结题或成果形式</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" name="input-result" id="input-result-1" checked value="实验报告">&nbsp;实验报告
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-result" id="input-result-2" value="论文">&nbsp;论文
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-result" id="input-result-3" value="实物作品">&nbsp;实物作品
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-result" id="input-result-4" value="专利">&nbsp;专利
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-result" id="input-result-5" value="其它">&nbsp;其它
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="input-result" placeholder="其它形式" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">项目简介<small>（请按以下内容填写1.设计思路及实验目的；2.涉及的内容或知识点；3.采用的方法和手段；4.考察点。）</small>
                            </label>
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="10" id="input-detail"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">需要的主要仪器设备及实验材料
                            </label>
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="5" id="input-requirement"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary" id="input-submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="aside">
                        <h5><i class="fa fa-street-view"></i>教师信息</h5>
                        <hr/>
                        <table class="table table-none-bordered">
                            <tr>
                                <td>指导教师</td>
                                <td>
                                    <%=user.name%>
                                </td>
                            </tr>
                            <tr>
                                <td>所在单位</td>
                                <td>
                                    <%=user.teacherAttr?user.teacherAttr.department: ''%>
                                </td>
                            </tr>
                            <tr>
                                <td>职称</td>
                                <td>
                                    <%=user.teacherAttr?user.teacherAttr.title: ''%>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <input type="hidden" value="<%=user._id%>" id="input-teacher-id" />
                </div>
            </div>
        </div>


        <% include parts/include.js.html %>
            <script type="text/javascript" src="/js/openExperimentNew.js"></script>
</body>

</html>