<!DOCTYPE html>
<html>

<head>
    <title>
        注册 - 师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2 class="text-center">注册</h2>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <form class="maxw300 pull-center text-left" id="register">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" data-toggle="tooltip" title="学号/工号"><i class="fa fa-user minw25"></i></span>
                                <input type="text" class="form-control" id="input-id" required pattern="^[0-9]*$" maxlength="10" placeholder="请填写十位以下数字">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" data-toggle="tooltip" title="姓名"><i class="fa fa-credit-card minw25"></i></span>
                                <input type="text" class="form-control" id="input-name" required maxlength="10" placeholder="请填写您的姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" data-toggle="tooltip" title="密码"><i class="fa fa-lock minw25"></i></span>
                                <input type="password" class="form-control" id="input-password" required maxlength="20" placeholder="不超过20位">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-type">我是</label>
                            <div class="pull-right">
                                <label class="radio radio-inline">
                                    <input checked type="radio" data-toggle="radio" name="input-type" id="input-type-student" data-radiocheck-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    同学
                                </label>
                                <label class="radio radio-inline">
                                    <input type="radio" data-toggle="radio" name="input-type" id="input-type-teacher" data-radiocheck-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    老师
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="col-xs-12 btn btn-primary" id="input-submit">注册</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 text-center">
                    <br/>
                    <p class="text-info"><i class="fa fa-info-circle"></i>&nbsp;<small>注册后请等待管理员确认方可激活账号</small>
                    </p>
                </div>
            </div>
        </div>
        <% include parts/include.js.html %>
            <script type="text/javascript" src="/js/register.js"></script>
</body>

</html>