<!DOCTYPE html>
<html>

<head>
    <title>
        注册 - 师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1>注册用户</h1>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <form class="maxw300" id="register">
                        <div class="form-group">
                            <label for="input-id">学号/工号</label>
                            <input type="text" class="form-control" id="input-id" required pattern="^[0-9]*$" maxlength="10" placeholder="请填写十位以下数字">
                        </div>
                        <div class="form-group">
                            <label for="input-name">姓名</label>
                            <input type="text" class="form-control" id="input-name" required maxlength="10" placeholder="请填写您的姓名">
                        </div>
                        <div class="form-group">
                            <label for="input-password">密码</label>
                            <input type="password" class="form-control" id="input-password" required maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="input-type">我是</label>
                            <div class="pull-right">
                                <label class="radio-inline">
                                    <input type="radio" name="input-type" id="input-type-student" checked>同学
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="input-type" id="input-type-teacher">老师
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="col-xs-12 btn btn-primary" id="input-submit">注册</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-7">
                    (注册后可以做什么)
                </div>
            </div>
        </div>
        <% include parts/include.js.html %>
            <script type="text/javascript" src="/js/register.js"></script>
</body>

</html>