<!DOCTYPE html>
<html>

<head>
    <title>
        注册 - 暨南大学师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <div class="page-wrapper">
        <div class="body">
            <% include parts/nav.ejs %>
                <div class="container">
                    <div class="row">
                        <h1 class="text-center">注册</h1>

                        <div class="col-xs-12 text-center">
                            <div id="main-panel">
                                <form class="maxw400 pull-center text-left" id="register">
                                    <div class="form-group form-group-lg mt30">
                                        <label for="input-id">学号/工号</label>
                                        <input type="text" class="form-control" id="input-id" required pattern="^[0-9]*$" maxlength="10">
                                        <p class="text-muted">请填写十位以下数字学号/工号</p>
                                    </div>
                                    <div class="form-group form-group-lg mt30">
                                        <label for="input-name">姓名</label>
                                        <input type="text" class="form-control" id="input-name" required maxlength="10">
                                    </div>
                                    <div class="form-group form-group-lg mt30">
                                        <label for="input-password">密码</label>
                                        <input type="password" class="form-control" id="input-password" required maxlength="20">
                                    </div>
                                    <div class="form-group form-group-lg mt30">
                                        <label for="input-type">我是</label>
                                        <div class="pull-right">
                                            <label class="radio-inline">
                                                <input checked type="radio" name="input-type" id="input-type-student"> 同学
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-type" id="input-type-teacher"> 老师
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg mt30">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg">注册</button>
                                    </div>
                                </form>
                            </div>
                            <div id="success-panel" class="dhidden">
                                <h2><i class="fa fa-check-circle text-success"></i>&nbsp;已成功申请注册，请等待管理员审核</h2>
                                <p class="mt20"><a href="/">返回主页</a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
        </div>
        <% include parts/footer.html %>
    </div>

    <% include parts/include.js.html %>
        <script type="text/javascript" src="/js/register.js"></script>
</body>

</html>